<ion-view view-title="About Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Our History
      </div>
      <div class="item item-text-wrap">
        <p>We are a team of dedicated historians of science aspiring to bridge academia with the wider public. History of science is desperately missing in science and engineering curriculum.
        This small amateur application will be our first attempt to address this gap. We hope you'll enjoy it!</p>
      </div>
    </div>
  </ion-content>
</ion-view>
